android/src/main/cpp/** linguist-vendored
ios/** linguist-vendored
macos/** linguist-vendored
windows/** linguist-vendored
linux/** linguist-vendored
CMakeLists.txt linguist-vendored
*.cmake linguist-vendored
